/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
    padding: 0;
    margin: 0;
}

button {
    all: unset;
}

@font-face {
    font-family: duty;
    src: url('../fonts/Ikaros-Regular.otf');
}

@font-face {
    font-family: caviar;
    src: url('../fonts/CaviarDreams.ttf');
}

@font-face {
    font-family: caviar-bold;
    src: url('../fonts/Caviar Dreams Bold.ttf');
}

:root {
    --main-color-sun: #f8a45a;
    --main-color: black;
    --second-color: white;
    --third-color: lightgreen;
    --fourth-color: green;
    --clickable: pointer;
}

.ff {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.ffc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.ffa {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.fpa {
    position: absolute;
}
.fpr {
    position: relative;
}
.fsc {
    width: 100vw;
    height: 100vh;
}

main {
    position: relative;
    overflow: hidden;
    padding-top: 50px;
}

section {
    position: relative;
    overflow: hidden;
}

/* Content */
.content {
    z-index: 5;
    position: relative;
    width: 100vw;
}

#main::before {
    content: '';
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    top: 50px;
    left: 10vw;
    background-color: var(--main-color-sun);
    z-index: 2;
}
#main .content {
    font-family: duty;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
#main .content * {
    display: inline-block;
    text-align: center;
}
#main .content h1 {
    margin-top: 10vh;
    font-size: 50px;
}

#second .content-box-1 {
    border-radius: 20px;
    width: 50vw;
    height: 40vh;
    background-color: var(--second-color);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow: 0px 0px 10px var(--third-color);
            box-shadow: 0px 0px 10px var(--third-color);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
#second .content-box-1:hover {
    -webkit-box-shadow: 0px 0px 15px var(--third-color);
            box-shadow: 0px 0px 15px var(--third-color);
}
#second .content-box-1 h1 {
    margin: 20px 0px;
    font-family: caviar-bold;
}
#second .content-box-1 p {
    font-size: 18px;
    text-align: justify;
    padding: 0px 30px;
    font-family: caviar;
}
#second .content-box-1 .exp table {
    padding: 10px 0px;
    text-align: center;
}
#second .content-box-1 .exp th {
    min-width: 11vw;
}
#second .content-box-1 .exp td {
    position: relative;
    padding: 5px;
    border-radius: 5px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
#second .content-box-1 .exp td:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: green;
}
#second .content-box-1 .exp td span {
    position: relative;
    z-index: 3;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    pointer-events: none;
    font-family: caviar-bold;
}
#second .content-box-1 .exp td::after {
    content: '';
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 0px;
    left: 0px;
    height: 100%;
    z-index: 2;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    pointer-events: none;
    border-radius: 5px;
    background-color: var(--third-color);
}
#second .content-box-1 .exp td:hover::after
{
    width: 100% !important;
    background-color: var(--main-color) !important;
}
#second .content-box-1 .exp td:hover span {
    color: var(--second-color);
}
#second .content-box-1 .exp td.show::before {
    content: attr(data-exp);
    position: absolute;
    padding: 7px 10px;
    font-size: 18px;
    border-radius: 5px;
    top: 105%;
    left: calc(50% - 14px);
    background-color: var(--main-color);
    color: var(--second-color);
    z-index: 9;
    -webkit-box-shadow: none;
            box-shadow: none;
}

#second .content-box-1 .exp td.exp-1::after {
    width: 20%;
}
#second .content-box-1 .exp td.exp-2::after {
    width: 40%;
}
#second .content-box-1 .exp td.exp-3::after {
    width: 60%;
}
#second .content-box-1 .exp td.exp-4::after {
    width: 80%;
}
#second .content-box-1 .exp td.exp-5::after {
    width: 100%;
}

/* third */

#third .content {
    height: 100vh;
}
#third .wrap {
    height: 100vh;
    max-width: 1100px;
    width: 1100px;
}
#third .content-box {
    width: 40vw;
    height: 50vh;
    border-radius: 20px;
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 30px;
    max-width: 450px;
    background-color: var(--second-color);
}
#third .content-box:hover {
    -webkit-transform: scale(1.01);
        -ms-transform: scale(1.01);
            transform: scale(1.01);
}
#third:hover .content-box-1,
#third:hover .content-box-2 {
    -webkit-box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.75);
}
#third .content-box-1:hover,
#third .content-box-2:hover {
    -webkit-box-shadow: -10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -10px 10px 5px 0px rgba(0,0,0,0.75);
}

#third .content-box:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
    pointer-events: none;
    -webkit-box-shadow: 5px -5px 5px 0px rgb(0,0,0,0.75);
            box-shadow: 5px -5px 5px 0px rgb(0,0,0,0.75);
}
#third .content-box:hover:before {
    -webkit-box-shadow: 10px -10px 5px 0px rgb(0,0,0,0.75);
            box-shadow: 10px -10px 5px 0px rgb(0,0,0,0.75);
}

#third:hover .content-box {
    background-color: rgb(105 183 105) !important;
    color: var(--second-color) !important;
}
#third:hover .content-box img {
    -webkit-filter: invert(1);
            filter: invert(1);
}
#third .content-box h1 {
    margin: 20px 0px;
    font-family: caviar-bold;
    font-size: 1em;
}
#third .content-box h1 span {
    display: none;
    margin-left: 10px;
}
#third .content-box h1 span img {
    height: 30px;
    width: auto;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
#third .content-box p {
    font-family: caviar;
    font-size: 17px;
    padding: 0px 20px;
    text-align: justify;
}
#third .content-box li {
    cursor: var(--clickable);
}
#third .content-box-1 ul {
    font-family: caviar-bold;
    font-size: 18px;
    text-align: left;
    margin-right: auto;
    padding: 20px 40px;
}
#third .content-box-2 ul {
    font-family: caviar;
    font-size: 16px;
    text-align: left;
    margin-right: auto;
    padding: 0px 25px 10px 45px;
}

/* footer */

footer {
    position: fixed;
    z-index: 10;
    bottom: 20px;
    left: 0px;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.footer-section {
    position: absolute;
    top: 90vh;
    height: 10vh;
    width: 100vw;
}
#goBottom {
    margin-right: 50px;
    padding: 5px 10px;
    margin-right: 50px;
    background: green;
    border-radius: 10px;
    cursor: var(--clickable);
}
#goBottom img {
    height: 50px;
    width: auto;
    -webkit-filter: invert(1);
            filter: invert(1);
}

.loop-jump {
    -webkit-animation: jump 2s infinite;
            animation: jump 2s infinite;
}

.all-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 50px;
    cursor: var(--clickable);
}

div.links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px 10px;
    padding: 5px;
    border-radius: 10px;
    background: rgba(0, 128, 0, 0.5);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transform: translateY(200%);
        -ms-transform: translateY(200%);
            transform: translateY(200%);
}

div.links#links,
div.links.active {
    -webkit-transform: translateY(0%) !important;
        -ms-transform: translateY(0%) !important;
            transform: translateY(0%) !important;
}

div.links:hover {
    background: green;
}
div.links img {
    height: 30px;
    -webkit-filter: invert(1);
            filter: invert(1);
}

@-webkit-keyframes jump {
    0% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
    50% {
        -webkit-transform: translateY(-20px);
                transform: translateY(-20px);
    }
}

@keyframes jump {
    0% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
    50% {
        -webkit-transform: translateY(-20px);
                transform: translateY(-20px);
    }
}

@media only screen and (max-width: 1023px) {
    #third .content .wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
    }
    #third .content-box h1 {
        font-size: 30px;
    }
    #third .content-box {
        height: 40px !important;
        padding-bottom: 20px;
        width: 90vw !important;
        overflow: hidden;
        cursor: var(--clickable);
    }
    #third .content-box-2 {
        margin-top: 40px !important;
        margin-bottom: 100px !important;
    }
    #third:hover .content-box-1,
    #third:hover .content-box-2,
    #third .content-box-1:hover,
    #third .content-box-2:hover {
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }
    #third .content-box:hover {
        -webkit-transform: none !important;
            -ms-transform: none !important;
                transform: none !important;
        height: unset !important;
    }
    header ul li {
        font-size: 15px;
        padding: 0px 10px;
    }
    #second .content-box-1 {
        width: 90vw !important;
    }
    #second td span, #second p {
        font-size: 14px !important;
    }
    #second h1, #third h1 {
        margin: 10px 0px !important;
    }
    .all-links {
        padding-left: 10px !important;
    }
    div.links img {
        height: 30px !important;
    }
    #goBottom {
        margin-right: 10px !important;
    }

    #third .content-box h1 span {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }
}